.header-toolbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 20;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo {
  width: 30px;
  padding-right: 4px;
}

.spacer {
  flex: 1 1 auto;
}

.menu-desktop {
  display: none;
}

.menu-mobile {
  display: inline-flex;
}

@media (min-width: 768px) {
  .menu-desktop {
    display: flex;
    justify-content: center;
    font-size: small;
    font-weight: bold;
  }
  .menu-mobile {
    display: none;
  }
} 

