<mat-toolbar color="primary" class="header-toolbar">
  <img src="https://static.www.nfl.com/image/upload/v1554321393/league/nvfr7ogywskqrfaiu38m.svg" alt="NFL Logo" class="logo">
  <span class="title">NFL Predictor Admin🏈</span>

  <!-- Espaciador -->
  <span class="spacer"></span>

  <!-- Menú en desktop -->
  <nav class="menu-desktop">
    <button class="menu-button" mat-button routerLink="/home">
      <mat-icon class="icon">home</mat-icon> Home
    </button>
    <button class="menu-button" mat-button routerLink="/puntajes">
      <mat-icon class="icon">leaderboard</mat-icon> Puntajes
    </button>
    <button class="menu-button" (click)="logout()" mat-button routerLink="/">
      <mat-icon class="icon" >logout</mat-icon> Logout
    </button>
  </nav>

  <!-- Menú hamburguesa en móvil -->
  <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-mobile">
    <mat-icon>menu</mat-icon>
  </button>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/home">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-menu-item routerLink="/puntajes">
    <mat-icon>leaderboard</mat-icon>
    <span>Puntajes</span>
  </button>
  <button mat-menu-item (click)="logout()" routerLink="/">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>

